<div class="panel">
  <div class="panel-heading text-center">
    <h1>Adam Mcfadden</h1>
    <p>
      Hi, Welcome to my portfolio! Please browse my work and enjoy.
    </p>
  </div>
  <div class="panel-body text-center">
    <h3>Skills</h3>
    <ul class="list-group">
      <% if @skills.any? %>
        <% @skills.each do |skill| %>
          <%= link_to skill_path(skill) do %>
            <li class="list-group-item">
              <%= skill.name %>
            </li>
          <% end %>
        <% end %>
        <% else %>
        <p>
          No Skills have been added
        </p>
      <% end %>
    </ul>
  </div>
</div>
