<div class="panel">
  <div class="panel-heading">
    <h1>Hello</h1>
  </div>
  <div class="panel-body">
    <ul>
      <% @skills.each do |skill| %>
      <li><%= link_to skill.name, skill_path(skill) %></li>
      <% end %>
    </ul>
  </div>
</div>
