<div class="panel">
  <div class="row">
    <div class="col-md-3">
      <div class="panel-heading">

      <h1>Current Projects</h1>
      </div>
      <div class="panel-body">

      <ul>
        <% if @projects %>
          <% @projects.each do |project| %>
            <li><%= project.name %></li>
          <% end %>
        <% else %>
          <p>
            No Projects Added Yet.
          </p>
        <% end %>
      </ul>
      </div>
    </div>
    <div class="col-md-9">
      <div class="panel-heading">
        <h1>Add a New Project</h1>
      </div>
      <div class="panel-body">
        <%= render "form" %>
      </div>
    </div>
  </div>
</div>
