/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';
@import 'bootstrap-sprockets';

body {
  color: #222;
  background-color: #9d9d9d;
  margin-top: 50px;
}

a {
  color: #FFD700;
  text-decoration: none;
}

h1 {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #222;
  color: #FFD700;
  text-align: center;
}

h2, h3, h4, h5, h6{
  color: #FFD700;
}

.navbar-inverse .navbar-custom, .navbar-inverse .navbar-nav > li > a {
  color: #FFD700;
}

.navbar {
  border-color: #9d9d9d;
}

.alert-custom {
  background-color: #FFD700;
  color: #222;
  border-color: #FFD700;
  border-radius: 0px;
}

.btn-custom {
  background-color: #FFD700;
  color: #222;
  border: 0px;
  transition: all .25s;
}

.btn-custom:hover {
  transform: scale(1.01);
  color: #FFD700;
  background-color: #222;
  border: 1px solid;
  border-color: #FFD700;
}

.panel, .panel-heading, .panel-footer, .panel > .list-group, .panel > .list-group > a > .list-group-item, .panel > .list-group > .list-group-item{
  background-color: #222;
  color: #9d9d9d;
  border-color: #9d9d9d;
  border-radius: 0px;
}
